body {
  font-family: Helvetica;
  text-align: center;
}

.header {
  background-image: url(./images/the-flatiron-building.png);
}

#home {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

#process h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.header h3 {
  font-size: 23px;
  font-weight: bold
  color: white;
}

span {
  font-size: 11px
  color: white;
}

footer {
  text-align:
  background-color: dimgray;
}
